body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.navbar {
  min-height: 80px; }

.navbar-fixed-top {
  padding: 13px 0; }

.navbar-inverse {
  background-color: #222;
  border-color: #222; }
  .navbar-inverse .navbar-brand {
    font-weight: 700;
    color: #fff;
    font-size: 2.3rem; }
    .navbar-inverse .navbar-brand:hover {
      font-weight: 700;
      color: #fed136; }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.6rem;
    color: #fff; }
    .navbar-inverse .navbar-nav > li > a:hover {
      color: #fed136; }

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fed136;
  border: 1px solid #fed136;
  color: #fff;
  border-radius: 0; }

.pager li > a:hover {
  background-color: #fec503;
  border: 1px solid #fec503;
  color: #fff;
  border-radius: 0; }

/* home page */
#home {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  text-align: center;
  padding: 30px 0;
  max-width: 960px;
  width: 100%;
  color: #FFF;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: -30px; }
  #home h1 {
    text-transform: uppercase; }
  #home h2 {
    font-size: 34px;
    text-transform: none;
    font-family: Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: 400; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute; }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%; }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: 100%; }
    .video-container video.fillWidth {
      width: 100%; }

#about p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%; }

.post.intro-header {
  height: 300px; }

.post-heading {
  padding: 13% 0; }

footer {
  /*margin-top: 80px;*/
  border: 0;
  padding-top: 50px;
  background-color: #2b2b2b; }
  footer .col-md-4 {
    text-align: center; }
  footer .footer-top {
    margin-bottom: 50px; }
  footer .btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px; }
  footer .btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out; }
    footer .btn-outline:hover, footer .btn-outline:active, footer .btn-outline:focus {
      border: solid 2px #fed136;
      color: #fed136;
      transition: all .3s ease-in-out; }
  footer .bottom-footer {
    text-align: center;
    color: #fff;
    background: #222;
    padding: 1rem 0; }
    footer .bottom-footer p {
      color: #fff;
      margin: 0; }
