---
layout: cvpage
title: Resume
slug: resume
---

{% if site.data.skills %}
<section class="skills resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-heading">
                <h3>Technical skills</h3>
                <p>I can say i’m quite good at</p>
            </div>

            {% assign items = site.data.skills.skills | sort: 'percent' %}
             {% for skill in items reversed %}
                <div class="col-md-4 skillsArea">
                    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="{{ skill.percent }}">
                            <span class="percent">{{ skill.percent }}%</span>
                        <canvas height="152" width="152"></canvas></span>

                        <h4>{{ skill.name }}</h4>
                        <p>{{ skill.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endif %}

{% if site.data.works %}
<section class="works resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-heading">
                <h3>Work experience</h3>
                <p>My previous associations</p>
            </div>

            <div id="builder-module-53e3b79a5bd68" class="module">
            {% for work in site.data.works.works %}
            <div class="row workDetails">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="workYear">
                        {{ work.from | date: "%-d, %Y" }} <br>
                        {{ work.to }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="exCon">
                        <h4>{{ work.company }}</h4>
                        <h5>{{ work.position }}</h5>
                        <p>{{ work.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endif %}

{% if site.data.educations %}
<section class="educations resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-heading">
                <h3>Education</h3>
                <p>What I have done in my academic career</p>
            </div>

            <div id="builder-module-53e3b79a5bd68" class="module">
            {% for education in site.data.educations.educations %}
            <div class="row workDetails">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="workYear">
                        {{ education.from | date: "%-d, %Y" }} <br>
                        {{ education.to | date: "%-d, %Y" }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="exCon">
                        <h4>{{ education.degree }}</h4>
                        <h5>{{ education.uni }}</h5>
                        <p>{{ education.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endif %}
