/* home page */
#home {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    text-align: center;
    padding: 30px 0;
    max-width: 960px;
    width: 100%;
    color: #FFF;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: -30px;

    h1 {
        text-transform: uppercase;
    }

    h2 {
        font-size: 34px;
        text-transform: none;
        font-family: Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #fff;
        font-weight: 400;
    }
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;

    .poster img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
    }

    video {
        position: absolute;
        z-index: 0;
        bottom: 0;
        height: 100%;

        &.fillWidth {
            width: 100%;
        }
    }

}

